{% extends "inventory/layout.html" %}
{% block content %}
    {{ block.super }}
    <div class="row row-cols-1 row-cols-md-3">
        {% for company in company_list %}
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'inventory:company_detail' company.id %}">{{ company.name }}</a></h5>
                    <p class="card-text">
                        {{ company.phone_number }}<br><br>
                        {{ company.address }}<br>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}